export(new_project)
importFrom(reports,delete)
importFrom(reports,folder)
importFrom(reports,is.global)
importFrom(reports,new_report)
importFrom(reports,repo2github)
importFrom(reports,UF)
S3method(print,quantemp)
